<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
    <title>Title</title>
</head>
<body>
    File uploaded successfully
    <div>
        <ul>
            <li>
            <a href="{{ url_for('no_of_lines') }}">To view no of lines</a>
            </li>
            <li>
            <a href="{{ url_for('date_modified') }}">To view the date modified</a>
            </li>
            <li>
            <a href="{{ url_for('file_size') }}">To view the size of file</a>
            </li>
        </ul>
    </div>
</body>
</html>